nav(class="navbar navbar-default navbar-static-top transparent")
    div.navbar-inner
        div.container
            div.navbar-header
                button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#collapsed_content', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(class='navbar-brand', href='/') DanielD.XYZ
            
            div(class='collapse navbar-collapse', id='collapsed_content')
                ul(class='nav navbar-nav')
                    li.active
                        a(href="/bus_hot_spots") BusHotSpots