.map_display {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 720px; }

.location_input_wrapper {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px 0;
  padding: 0; }

.disappear {
  visibility: hidden; }
